<h1>Stupid Coaching</h1>
<div class="question">
  <strong><%= @question %></strong>
  <p> You <p>
</div>
</br>
</br>
<div class="answer">
  <strong><%= @answer %></strong>
  <p> The coach </p>
</div>
</br>
</br>
<%= link_to "Ask a new question", ask_path %>
